services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env

  ui:
    build:
      context: .
      dockerfile: docker/ui.Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - backend
