numpy==1.26.4

fastapi
uvicorn
pydantic
pydantic_settings
python-dotenv

langchain
langgraph
langchain-core
langchain_text_splitters

openai
tiktoken

faiss-cpu
sentence-transformers

sqlalchemy
pymysql

streamlit

pytest
pypdf