numpy==1.26.4

fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv

langchain
langchain-core
langchain-text-splitters
langgraph

faiss-cpu
sentence-transformers

openai
tiktoken

sqlalchemy
pymysql

pypdf
